/*
 * Настройки скина QSP для тестирования
 *
 * Скин растягиваемый!
 * 
 */

/* Запрещаем выделять текст и перетаскивать картинки */
div,p,span {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
    /* Без этого флага на iOS текст масштабируется при повороте экрана */
    -webkit-text-size-adjust: none;
}

div {
	/* Отключаем "сглаживание" для бэкграундных картинок, чтобы не было артефактов,
	   когда при использовании border-image или repeat-x браузер делает интерполяцию по внешним краям */
	image-rendering: optimizeSpeed;             /* FUCK SMOOTHING, GIVE ME SPEED  */
 	image-rendering: -moz-crisp-edges;          /* Firefox                        */
 	image-rendering: -o-crisp-edges;            /* Opera                          */
 	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
 	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
 	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */	
}

img { -webkit-user-drag: none; }

a, .qsp-skin-button, .qsp-action, .qsp-save-slot-enabled { -webkit-tap-highlight-color: rgba(0,0,0,0); cursor:pointer; }

/* Кнопка на первой странице - в IE почему-то показывается рамка */
.qsp-skin-button img{ border:none; }
 
/* кастомное оформление */

#skin-page { position:fixed; left:0px; top:0px; width:100%; height:100%; }
#skin-left-column { position:absolute; left:0px; top:0px; width:100%; height:100%; }
body.vars-visible #skin-left-column, body.objs-visible #skin-left-column { width:70%; }
#skin-right-column { position:absolute; right:0px; top:0px; width:30%; height:100%; overflow:hidden; }


/* стили для поддержки строки ввода */
#qsp-input-line { 
	position:absolute;
	bottom:0;
	height:27px;
	width:100%; 
}
#qsp-input-line input{ 
	width:100%; 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#qsp-wrapper-main { 
	position: absolute; 
}
#skin-wrapper-main-outer {
	position: absolute;
	width:100%;
	top:0;
	bottom:0px;
}
body.input-visible #skin-wrapper-main-outer {
	bottom:27px;
}


#qsp-back-image { position:absolute; left:0px; top:0px; width:100%; height:100%; overflow:hidden; }

#qsp-wrapper-main { height:100%; width:100%; word-wrap: break-word; }
#qsp-wrapper-objs { position:absolute; left:0px; top:0px; height:100%; width:100%; }
body.vars-visible #qsp-wrapper-objs { height:70%; }
#qsp-wrapper-vars { position:absolute; left:0px; bottom:0px; height:100%; width:100%; }
body.objs-visible #qsp-wrapper-vars { height:30%; }

#qsp-wrapper-msg { position:absolute; overflow:hidden; }
#qsp-system-menu-button { position:absolute; left:0px; top:0px; }
#qsp-system-menu-button img { float:left; }


.qsp-skin-overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: #5c5c5c; opacity: .70;filter:Alpha(Opacity=70); -webkit-tap-highlight-color: rgba(0,0,0,0); }

.qsp-skin-action-overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; -webkit-tap-highlight-color: rgba(0,0,0,0); }

.qsp-skin-dialog { position: absolute; }

/* Обложка */
#qsp-cover-wrapper { text-align:center; width:320px; padding-top:11px; position:relative; left:50%; margin-left:-160px; }
#qsp-cover-wrapper a img{ margin-top:3px; }



.pressed.qsp-action {
color:#BB0000; 
}

.pressed.qsp-save-slot-enabled div { color:#BB0000; }




/* MSG */
#qsp-dialog-msg-content { text-align:justify; padding-right:12px; }
#qsp-dialog-msg-container { position: absolute; left:50%; top:50%; width:240px; height:198px; margin-top:-99px; margin-left:-120px; background-image:url("gfx/input_back-240x198.png"); }
#qsp-button-msg-ok { position:static; clear:both; }
#qsp-wrapper-msg { float:left; width:auto; height:110px; margin-left:20px; margin-right:20px; margin-top:20px;}
#qsp-dialog-msg-bottom-block { position:absolute; bottom:0; width:100%; overflow:hidden; }
#qsp-dialog-msg-bottom-wrapper { float:left;
	position:relative;
	left:50%;
	top:0px;
	height:100%;
 }
#qsp-dialog-msg-bottom-container { float:left;
	position:relative;
	left:-50%;
	top:0px;
	width:auto;
	height:100%;
	padding:10px;
}


/* ERROR */
#qsp-dialog-error-content { position: absolute; overflow: visible; }
#qsp-dialog-error-background, #qsp-button-error-ok { position: absolute; }

/* SYSTEM MENU */
#qsp-dialog-system-menu-background, #qsp-dialog-system-menu-container { position: absolute;  left:50%; top:50%; width:199px; height:199px; margin-top:-100px; margin-left:-100px; }

#qsp-dialog-system-menu-container { padding:0px; }
#qsp-dialog-system-menu-container .qsp-skin-button { width:50%; height:50%; float:left; font-size:12px; }
#qsp-dialog-system-menu-container .qsp-skin-button a { text-decoration:none; color:#000; line-height:100%; }
.qsp-dialog-system-menu-top-row { padding-top:15px; }
.qsp-dialog-system-menu-bottom-row { padding-top:5px; }
.qsp-dialog-system-menu-left-column { width:90%; float:right; }
.qsp-dialog-system-menu-right-column { width:90%; float:left; }

/* VIEW */
#qsp-dialog-view-image-container {
    position: fixed;
    top:10px;
    bottom:10px;
    left:10px;
    right:10px;
}
#qsp-dialog-view-image-container img {
    max-width:100%;
    max-height:100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
}

/* SAVE SLOTS */
/* 
 * выравниваем по центру вертикально и горизонтально, отнимая половину фиксированной ширины и высоты в margin
 * высота и ширина самого диалога нам известны заранее, а размеры экрана могут быть любыми
 */
#qsp-dialog-save-slots-wrapper1 { 
position: absolute; left:50%; top:50%; width:199px; height:199px; margin-top:-100px; margin-left:-100px; overflow:hidden; 
background-image:url("gfx/system_menu_back-199x199.png");
background-size:199px 199px;
-webkit-background-size:199px 199px;
}
body.retina #qsp-dialog-save-slots-wrapper1 { 
	background-image:url("gfx/system_menu_back-199x199@2x.png") !important;
}
/*
 * выравниваем список слотов горизонтально по центру, учитывая что ширина списка может варьироваться
 * http://www.tightcss.com/centering/center_variable_width.htm
 */
#qsp-dialog-save-slots-wrapper2 { float:left;
	position:relative;
	left:50%;
	top:0px;
	margin:0px;
	padding:0px;
 }
#qsp-dialog-save-slots-container { float:left;
	position:relative;
	left:-50%;
	top:6px;
	width:auto;
	margin:0px;
	padding:0px;
}

.qsp-save-slot-enabled, .qsp-save-slot-disabled { float:left; clear:both; margin-top:14px; font-size:17px; width:100%; padding:0px; }
.qsp-save-slot-enabled div, .qsp-save-slot-disabled div { padding-left:30px; padding-right:30px; padding-top:0px; padding-bottom:0px; margin:0px; }

.qsp-save-slot-disabled { color:#555; }

/* INPUT DIALOG */
/* Этот диалог растягивается, и зависит от размеров картинки бэкграунда, указанных в qsp-dialog-input-container */
#qsp-dialog-input-container { 
	position: absolute; left:50%; top:50%; width:240px; height:198px; margin-top:-99px; margin-left:-120px; 
	background-size:240px 198px;
	-webkit-background-size:240px 198px;
	background-image:url("gfx/input_back-240x198.png"); 
}
body.retina #qsp-dialog-input-container { 
	background-image:url("gfx/input_back-240x198@2x.png") !important;
}
#qsp-dialog-input-content, #qsp-dialog-input-text, #qsp-button-input-ok { position:static; clear:both; }
#qsp-dialog-input-content { padding-left:20px; padding-right:20px; padding-top:15px;}
#qsp-dialog-input-bottom-block { position:absolute; bottom:0; width:100%; overflow:hidden; }
#qsp-dialog-input-bottom-wrapper { float:left;
	position:relative;
	left:50%;
	top:0px;
	height:100%;
 }
#qsp-dialog-input-bottom-container { 
	position:relative;
	left:-50%;
	top:0px;
	width:auto;
	height:100%;
	padding-top:5px;
	padding-bottom:10px;
}

/* TWEAK FOR MAIN DESC */
#qsp-main { padding-left:12px; padding-right:12px; text-align:justify; }
/* TWEAK FOR ACTS */
#qsp-acts { padding-left:12px; padding-right:12px;  padding-top:30px; }
/* TWEAK FOR DEFAULT TEXT COLOR */
body { color:#FFF; background-color:#000; font-size:30px;}





#mono{
font-family: Lucida Console;
}
#ml{
margin-left:100px;
}